# Python
.venv/
__pycache__/
*.pyc

# Keep raw EDFs and DB out of git
data_raw/
data_out/*.db
data_out/*.sqlite
data_out/*.sqlite3

# BUT allow exported CSV artefacts
!data_out/*.csv

# OS/editor
.DS_Store
.vscode/

# DBeaver config
dbeaver/
.dbeaver/

# Extras files like personal reports and png
*.pdf
*.png
*.txt
*.pbix

# BUT allow those in doc folder
!docs/*.pdf
!docs/*.png

## NB: (later it can be decided to commit small demo CSVs if you want, but default is: don’t.)